@tailwind base;
@tailwind components;
@tailwind utilities;

[type='text']:focus {
  box-shadow: none;
  border: 0;
  width: 0;
}
@layer components {
  .submitBtn {
    @apply bg-amazon_blue text-white w-10/12 h-12 rounded-md absolute bottom-3 hover:bg-amazon_blue-light
  }
}
html, body {
  overflow-x: hidden;
  background-color: #f1f5f9
}
h2:first-letter, 
h3:first-letter, 
p:first-letter, 
button:first-letter {
  text-transform: uppercase;
}

.hideMenuNav {
  display: none;
}
.showMenuNav {
  display: block;
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 50;
}